# Regression Exercise - Solutions

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area.

The task is to aproximate the median house value of each block from the values of the rest of the variables.

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:

* housingMedianAge: continuous.
* totalRooms: continuous.
* totalBedrooms: continuous.
* population: continuous.
* households: continuous.
* medianIncome: continuous.
* medianHouseValue: continuous.

## The Data

** Import the cal_housing.csv file with pandas. Separate it into a training (70%) and testing set(30%).**

In [ ]:
import pandas as pd

In [ ]:
housing = pd.read_csv('cal_housing_clean.csv')

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

,count,mean,std,min,25%,50%,75%,max
housingMedianAge,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
totalRooms,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
totalBedrooms,20640.0,537.898014,421.247906,1.0000,295.0000,435.0000,647.00000,6445.0000
population,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
households,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
medianIncome,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
medianHouseValue,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
0,41.0,880.0,129.0,322.0,126.0,8.3252
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,52.0,1467.0,190.0,496.0,177.0,7.2574
3,52.0,1274.0,235.0,558.0,219.0,5.6431
4,52.0,1627.0,280.0,565.0,259.0,3.8462

In [ ]:
from sklearn.model_selection import train_test_split

### Scale the Feature Data

** Use sklearn preprocessing to create a MinMaxScaler for the feature data. Fit this scaler only to the training data. Then use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

MinMaxScaler()

In [ ]:
import numpy as np

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From C:\Users\Farid\anaconda3-NEW\lib\site-packages\tensorflow\python\compat\v2_compat.py:101: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

** Create the input function for the estimator object. (play around with batch_size and num_epochs)**

WARNING:tensorflow:From C:\Users\Farid\anaconda3-NEW\lib\site-packages\tensorflow\python\util\lazy_loader.py:63: The name tf.estimator.inputs is deprecated. Please use tf.compat.v1.estimator.inputs instead.

** Create the estimator model. Use a DNNRegressor. Play around with the hidden units! **

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Farid\AppData\Local\Temp\tmpdp3tije0
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\Farid\\AppData\\Local\\Temp\\tmpdp3tije0', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

##### ** Train the model for ~1,000 steps. (Later come back to this and train it for more and check for improvement) **

WARNING:tensorflow:From C:\Users\Farid\anaconda3-NEW\lib\site-packages\tensorflow\python\training\training_util.py:235: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From C:\Users\Farid\anaconda3-NEW\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:60: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\Farid\anaconda3-NEW\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:491: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\Farid\anaconda3-NEW\lib\site-packages\tensorflow\python\training\monitored_session.py:907: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\Farid\AppData\Local\Temp\tmpdp3tije0\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 529516920000.0, step = 1
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 53 vs previous value: 53. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 79 vs previous value: 79. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 95 vs previous value: 95. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
INFO:tensorflow:global_step/sec: 187.132
INFO:tensorflow:loss = 416932360000.0, step = 101 (0.546 sec)
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 104 vs previous value: 104. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 155 vs previous value: 155. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
INFO:tensorflow:global_step/sec: 268.626
INFO:tensorflow:loss = 540681300000.0, step = 201 (0.367 sec)
INFO:tensorflow:global_step/sec: 303.734
INFO:tensorflow:loss = 446633250000.0, step = 301 (0.329 sec)
INFO:tensorflow:global_step/sec: 302.816
INFO:tensorflow:loss = 323841950000.0, step = 401 (0.344 sec)
INFO:tensorflow:global_step/sec: 254.92
INFO:tensorflow:loss = 557288800000.0, step = 501 (0.380 sec)
INFO:tensorflow:global_step/sec: 319.261
INFO:tensorflow:loss = 322420340000.0, step = 601 (0.324 sec)
INFO:tensorflow:global_step/sec: 296.525
INFO:tensorflow:loss = 681238700000.0, step = 701 (0.341 sec)
INFO:tensorflow:global_step/sec: 253.626
INFO:tensorflow:loss = 180570910000.0, step = 801 (0.380 sec)
INFO:tensorflow:global_step/sec: 323.396
INFO:tensorflow:loss = 633548960000.0, step = 901 (0.312 sec)
INFO:tensorflow:global_step/sec: 301.899
INFO:tensorflow:loss = 155315950000.0, step = 1001 (0.328 sec)
INFO:tensorflow:global_step/sec: 300.085
INFO:tensorflow:loss = 862430900000.0, step = 1101 (0.328 sec)
INFO:tensorflow:global_step/sec: 286.331
INFO:tensorflow:loss = 392744170000.0, step = 1201 (0.358 sec)
INFO:tensorflow:global_step/sec: 281.49
INFO:tensorflow:loss = 501451230000.0, step = 1301 (0.349 sec)
INFO:tensorflow:global_step/sec: 295.646
INFO:tensorflow:loss = 394819600000.0, step = 1401 (0.337 sec)
INFO:tensorflow:global_step/sec: 229.721
INFO:tensorflow:loss = 594525950000.0, step = 1501 (0.433 sec)
INFO:tensorflow:global_step/sec: 218.187
INFO:tensorflow:loss = 276287320000.0, step = 1601 (0.467 sec)
INFO:tensorflow:global_step/sec: 270.809
INFO:tensorflow:loss = 965697700000.0, step = 1701 (0.368 sec)
INFO:tensorflow:global_step/sec: 246.129
INFO:tensorflow:loss = 507186640000.0, step = 1801 (0.403 sec)
INFO:tensorflow:global_step/sec: 272.288
INFO:tensorflow:loss = 471740550000.0, step = 1901 (0.364 sec)
INFO:tensorflow:global_step/sec: 305.593
INFO:tensorflow:loss = 445991120000.0, step = 2001 (0.325 sec)
INFO:tensorflow:global_step/sec: 239.064
INFO:tensorflow:loss = 635230900000.0, step = 2101 (0.420 sec)
INFO:tensorflow:global_step/sec: 283.889
INFO:tensorflow:loss = 554415550000.0, step = 2201 (0.352 sec)
INFO:tensorflow:global_step/sec: 287.979
INFO:tensorflow:loss = 433107000000.0, step = 2301 (0.354 sec)
INFO:tensorflow:global_step/sec: 279.13
INFO:tensorflow:loss = 787473500000.0, step = 2401 (0.349 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 2500...
INFO:tensorflow:Saving checkpoints for 2500 into C:\Users\Farid\AppData\Local\Temp\tmpdp3tije0\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 2500...
INFO:tensorflow:Loss for final step: 262587610000.0.

** Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data. **

In [ ]:
predictions = list(pred_gen)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Farid\AppData\Local\Temp\tmpdp3tije0\model.ckpt-2500
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Calculate the RMSE. Do this manually or use [sklearn.metrics](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) **

In [ ]:
from sklearn.metrics import mean_squared_error

238025.47821626568